.login__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('../images/login-background.jpg');
  height: 100vh;
}

.login__logo {
    height: 21vh;
}

.login__button {
  color: white;
  text-decoration: none;
  padding: 20px 35px;
  border-radius: 99px;
  font-weight: 600;
  letter-spacing: 0.18rem;
  background-color: #00D856;
  margin-top: 300px;
}

.login__button:hover {
    transition: linear 0.35s;
    color: black;
    background-color: whitesmoke;
    opacity: 0.8;
  }

.login__typewriter {
    font-size: 24px;
    font-weight: 600;
    color: whitesmoke;
    opacity: 0.8;
}

/* drop typewriter line when screen size is 643px or below. It looks weird on smaller screens */
@media only screen and (max-width: 643px) {
  .login__typewriter {
    display: none;
  }
}